@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap');
a{
    
    color: white;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    
}
.popup_menu{
    position: fixed;
    z-index: 10;
    background: white;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    width: 25%;
    left: -25%;
    a{
        color: black;
    }
    .popup_menu__exit{
        position: relative;
        top: 20px;
        margin-right: 10px;
        @media(max-width:780px){
            top: 15px !important;
            img{
                width: 20px;
            }
        }

        @media(max-width:530px){
            top: 15px !important;
            margin-right: 4px !important;
            img{
                width: 15px;
            }
        }
    }
    .menu_item{
        margin: 10px 0;
        margin-right: 30px;
        
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;
        color: #252525;
        @media(max-width:780px){
            font-size: 19px !important;
            line-height: 26px !important;
        }
        @media(max-width:530px){
            margin-right: 10px !important;
            font-size: 15px !important;
            line-height: 20px !important;

        }
    }
}
.header{
    // *{
    //     border: 1px solid #000;
    // }
    z-index: 1;
    width: 100%;
    height: 840px;
    min-height: 840px;
    background: url('../img/chill_header.png') 50% 50%/auto 100% no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .content{
        display: flex;
        flex-direction: column;
        max-width: 96%;
        width: 1200px;
        height: 682px;
        color: white;
        z-index: 1;
        .top-elements{
            max-width: 100%;

            display: flex;
            justify-content: space-between;
            align-items: center;
            .cats{
                max-width: 100%;

                position: relative;
                left: 7%;
                
            }
            p{
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 26px;
                line-height: 32px;
                color: #FFFFFF;
                max-width: 100%;

                
            }
            .chevron-down{
                width: 11px;
                height: 12px;
            }
            .search_notif_lang{
                max-width: 100%;

                &> img{
                    width: 27px;
                    height: 27px;
                    
                }
                &> *{
                    margin: 0px 17px;
                }
                p{
                    display: flex;
                    align-items: center;
                    img{
                        margin-left:5px ;
                    }
                }
                
                display: flex;
            }
            
        }
        .arrows{
            max-width: 100%;
            display:flex;
            flex-direction: column;
            align-items: flex-end;
            .arr_wrapper{
                position: relative;
                bottom: -130%;
                max-width: 100%;


            }
            .c15{
                max-width: 100%;

                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 22px;
                color: #FFFFFF;
                width: 1px;
                height: 1px;
                margin: 35px 0;
                position: relative;
                bottom: -10px;
                left: -5px;
                transform: rotate(-90deg);
            }
        }
        .bottom_elems{
            
            height: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            max-width: 100%;
            .text{
                max-width: 100%;
            }
            h2{
                max-width: 100%;
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 48px;
                line-height: 65px;
                width: 630px;
                
            }
            a{
                color:white;
            }
            p{
                max-width: 100%;

                margin: 9px 0;
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 25px;
                line-height: 30px;
                display: flex;
                align-items: center;
                img{
                    padding-left: 20px;
                }
            }
            .images{
                max-width: 100%;
                width: 178px;
                display: flex;
                justify-content: space-between;
                img{
                    max-width: 100%;

                    width: 26px;
                    height: 25px;
                    
                }
                &:last-child{
                    position: relative;
                    left: 0px;
                }
            }
        }
    }
}
.overlay:before{
    content: '';
    z-index: 0;
    display: block;
    position: absolute;
    top: 0px; left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.52);
    
}
@media (max-width:780px){
    .header{
        width: 100%;
        height: 426px;
        min-height: 426px;
        background: url('../img/chill_header.png') 50% 50%/auto 100% no-repeat;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .content{
            display: flex;
            flex-direction: column;
            max-width: 96%;
            width: 1200px;
            height: 351px;
            color: white;
            z-index: 1;
            .top-elements{
                .cats{
                    position: relative;
                    left: -35%;
                    
                }
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                p{
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 26px;
                    line-height: 32px;
                    color: #FFFFFF;
                    
                }
                .chevron-down{
                    width: 11px;
                    height: 12px;
                }
                .search_notif_lang{
                    display: none;
                    &> img{
                        width: 27px;
                        height: 27px;
                        
                    }
                    &> *{
                        margin: 0px 17px;
                    }
                    p{
                        display: flex;
                        align-items: center;
                        img{
                            margin-left:5px ;
                        }
                    }
                    
                    
                }
                
            }
            .arrows{
                display:none;
                flex-direction: column;
                align-items: flex-end;
                .arr_wrapper{
                    position: relative;
                    bottom: -130%;
                }
                .c15{
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 22px;
                    color: #FFFFFF;
                    width: 1px;
                    height: 1px;
                    margin: 35px 0;
                    position: relative;
                    bottom: -10px;
                    left: -5px;
                    transform: rotate(-90deg);
                }
            }
            .bottom_elems{
                height: 100%;
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                h2{
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 48px;
                    line-height: 65px;
                    width: 630px;
                }
                p{
                    margin: 9px 0;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 25px;
                    line-height: 30px;
                }
                .images{
                    
                    display: none;
                    img{
                        width: 26px;
                        height: 25px;
                        margin: 0 25px;
                    }
                    &:last-child{
                        margin-right: -25px;
                    }
                }
            }
        }
    }
    .overlay:before{
        content: '';
        z-index: 0;
        display: block;
        position: absolute;
        top: 0px; left: 0px;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.52);
        
    }
}
@media(max-width:506px){
    .top-elements{
        .cats{
            left: -30% ;
        }
    }
}
@media(max-width:420px){
    .header{
        width: 100%;
        height: 262px;
        min-height: 262px;
        background: url('../img/chill_header.png') 50% 50%/auto 100% no-repeat;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .content{
            display: flex;
            flex-direction: column;
            max-width: 96%;
            width: 1200px;
            height: 96%;
            color: white;
            z-index: 1;
            .top-elements{
                .cats{
                    position: relative;
                    left: 0;
                    
                }
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                p{
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 26px;
                    line-height: 32px;
                    color: #FFFFFF;
                    
                }
                .chevron-down{
                    width: 11px;
                    height: 12px;
                }
                .search_notif_lang{
                    display: none;
                    &> img{
                        width: 27px;
                        height: 27px;
                        
                    }
                    &> *{
                        margin: 0px 17px;
                    }
                    p{
                        display: flex;
                        align-items: center;
                        img{
                            margin-left:5px ;
                        }
                    }
                    
                    
                }
                
            }
            .arrows{
                display:none;
                flex-direction: column;
                align-items: flex-end;
                .arr_wrapper{
                    position: relative;
                    bottom: -130%;
                }
                .c15{
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 22px;
                    color: #FFFFFF;
                    width: 1px;
                    height: 1px;
                    margin: 35px 0;
                    position: relative;
                    bottom: -10px;
                    left: -5px;
                    transform: rotate(-90deg);
                }
            }
            .bottom_elems{
                height: 100%;
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                h2{
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 24px;
                    line-height: 33px;
                    width: 630px;
                }
                p{
                    margin: 9px 0;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 22px;
                }
                .images{
                    
                    display: none;
                    img{
                        width: 26px;
                        height: 25px;
                        margin: 0 25px;
                    }
                    &:last-child{
                        margin-right: -25px;
                    }
                }
            }
        }
    }
    .overlay:before{
        content: '';
        z-index: 0;
        display: block;
        position: absolute;
        top: 0px; left: 0px;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.52);
        
    }
}
.main{
    
    overflow: visible;
    width: 1348px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    .nav_menu{
        margin-top: 174px;
        max-width: 100%;
        .zagol{
            max-width: 100%;
            margin-bottom: 150px;
            p{
                max-width: 100%;
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 33px;
                text-transform: lowercase;
                color: #252525;
            }
            h2{
                max-width: 100%;
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 48px;
                line-height: 59px;
                text-transform: capitalize;
                color: #252525;

            }
        }
        .nav{
            max-width: 100%;
            width: 1197px;
            .img_text, .img_text2, .img_text3, .img_text4, .img_text5{
                max-width: 100%;
                display: flex;
                justify-content: space-between;
                p{
                    max-width: 100%;
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 27px;
                    color: #000000;
                }
                h2{
                    max-width: 100%;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 48px;
                    line-height: 59px;
                    color: #252525;
                }
                button{
                    border: 1px solid #000;
                    width: 284px;
                    height: 76px;
                    color: black;
                    background: white;
                    font-family: Open Sans;
                    font-size: 24px;
                    line-height: 33px;
                    transition: 300ms;
                    &:hover{
                        color: white;
                        background: black;
                    }
                }
            }
            
            .img_text2, .img_text4{
                margin: 268px 0;
                .text{
                    position: relative;
                    top: 40px;
                    width: 610px;
                    h2{
                        height: 144px;
                        width: 351px;
                    }
                    p{
                        height: 116px;
                    }
                }
                img{
                    
                    max-width: 100%;
                    order: 1;
                }
            }
            .img_text, .img_text3, .img_text5{
                .text{
                    width: 431px;
                    :first-child{
                        margin-bottom: 30px;
                    }
                    p{
                        margin-bottom: 100px;
                    }
                }
                img{
                    
                    
                }
            }
            .img_text3{
                .text{
                    position: relative;
                    height: 500px;
                    top: 150px;
                    
                }
                
            }
            .img_text{
                .text{
                    position: relative;
                    top: 50px;
                }
            }
        }
    }
    @media (max-width:1200px) {
        .nav_menu{
            margin-top: 74px !important;
            max-width: 100%;
            width: 900px;
            .zagol{
                max-width: 100%;
                margin-bottom: 74px !important;
                p{
                    max-width: 100%;
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px !important;
                    line-height: 25px !important;
                    text-transform: lowercase;
                    color: #252525;
                }
                h2{
                    max-width: 100%;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 36px !important;
                    line-height: 44px !important;
                    text-transform: capitalize;
                    color: #252525;
    
                }
            }
            .nav{
                max-width: 100%;
                width: 1197px;
                .img_text, .img_text2, .img_text3, .img_text4, .img_text5{
                    max-width: 100%;
                    display: flex;
                    justify-content: space-between ;
                    p{
                        max-width: 100%;
                        font-family: Open Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px !important;
                        line-height: 19px !important;
                        color: #000000;
                    }
                    h2{
                        max-width: 100%;
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 36px !important;
                        line-height: 44px !important;
                        color: #252525;
                    }
                    
                }
                .img_text2, .img_text4{
                    margin: 100px 0 !important;
                    .text{
                        position: relative;
                        top: 10px;
                        width: 312px !important;
                        h2{
                            height: 100px;
                            width: 351px;
                        }
                        p{
                            height: 80px;
                        }
                    }
                    img{
                        width: 251px !important;
                        height: auto !important;
                        max-width: 100%;
                        order: 1;
                    }
                }
                .img_text, .img_text3, .img_text5{
                    .text{
                        width: 281px !important;
                        :first-child{
                            margin-bottom: 10px;
                        }
                        p{
                            margin-bottom: 40px;
                        }
                    }
                    img{
                        width: 358px !important;
                        
                    }
                }
                .img_text3{
                    .text{
                        position: relative;
                        height: 500px;
                        top: 50px;
                        
                    }
                    img{
                        width: 359px !important;
                        height: 258px !important;

                    }
                }
                .img_text{
                    .text{
                        position: relative;
                        top: 50px;
                    }
                }
                .img_text4{
                    position: relative;
                    top: -250px;
                }
                .img_text5{
                    position: relative;
                    top: -250px;
                }
            }
        }
    }
    @media (max-width:730px) {
        .nav_menu{
            
            margin-top: 46px !important;
            max-width: 100%;
            width: 1200px;
            .zagol{
                max-width: 100%;
                margin-bottom: 18px !important;
                p{
                    max-width: 100%;
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px !important;
                    line-height: 25px !important;
                    text-transform: lowercase;
                    color: #252525;
                }
                h2{
                    max-width: 100%;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 36px !important;
                    line-height: 44px !important;
                    text-transform: capitalize;
                    color: #252525;
    
                }
            }
            .nav{
                max-width: 100%;
                width: 1197px;
                
                .img_text, .img_text2, .img_text3,.img_text4,.img_text5{
                    max-width: 100%;
                    display: flex;
                    
                    flex-direction: column;
                    
                    p{
                        max-width: 100%;
                        font-family: Open Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px !important;
                        line-height: 19px !important;
                        color: #000000;
                    }
                    h2{
                        max-width: 100%;
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 36px !important;
                        line-height: 44px !important;
                        color: #252525;
                    }
                    
                    img{
                        display: inline;
                        max-width: 100% !important;
                        
                        width: 1000px !important;
                        
                    }
                }
                .img_text2, .img_text4{
                    margin: 100px 0 !important;
                    
                    .text{
                        position: relative;
                        top: 10px;
                        width: auto !important;
                        h2{
                            height: 100px;
                            width: 351px;
                        }
                        p{
                            height: 80px;
                        }
                    }
                    img{
                        display: block;
                        width: 2000px !important;
                        height: auto !important;
                        
                        max-width: 100%;
                        order: -1;
                    }
                }
                .img_text, .img_text3, .img_text5{
                    .text{
                        width: auto !important;
                        :first-child{
                            margin-bottom: 10px;
                        }
                        p{
                            margin-bottom: 40px;
                        }
                    }
                    img{
                        max-width: 100%;
                        
                        height: auto !important;
                    }
                }
                .img_text3{
                    .text{
                        position: relative;
                        
                        max-height: 100%;
                        top: 50px;
                        
                    }
                    img{
                        max-width: 100%;
                        height: auto !important;

                    }
                }
                .img_text{
                    .text{
                        position: relative;
                        top: 50px;
                    }
                }
            }
        }
    }
    .bron{
        margin-top: 239px;
        display: flex;
        width: 1197px;
        max-width: 100%;
        justify-content: space-between;
        .text{
            max-width: 100%;
            margin-right: 20px;

            width: 610px;
            p{
                max-width: 100%;
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 33px;
                text-transform: lowercase;
                color: #252525;
            }
            h2{
                max-width: 100%;
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 48px;
                line-height: 59px;
                text-transform: uppercase;
                color: #252525;
                margin-bottom: 66px;
            }
        }
        .form{
            position: relative;
            top: 130px;
            max-width: 100%;
            align-self: flex-end;
            width: 433px;
            form{
                max-width: 100%;
                :nth-child(1), :nth-child(2){
                    max-width: 100%;
                    width: 433px;
                    height: 60px;
                    border-bottom: 1px solid #777777;
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 24px;
                    line-height: 33px;
                    text-transform: capitalize;
                    color: rgba(37, 37, 37, 0.41);
                }
                :last-child{
                    
                    max-width: 100%;
                    margin-top: 75px;
                    border: 1px solid #000;
                    width: 231px;
                    height: 64px;
                    color: black;
                    background: white;
                    font-family: Open Sans;
                    font-size: 24px;
                    line-height: 29px;
                    transition: 300ms;
                    &:hover{
                        color: white;
                        background: black;
                    }
                }
            }
            
        }
    }
    
    @media(max-width:1200px){
        .bron{
            position: relative;
            top: -170px;
            
            
            display: flex;
            width: 900px;
            max-width: 100%;
            justify-content: space-between;
            .text{
                max-width: 100%;
                margin-right: 20px;
                width: 358px !important;
                p{
                    max-width: 100%;
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px !important;
                    line-height: 25px !important;
                    text-transform: lowercase;
                    color: #252525;
                }
                h2{
                    max-width: 100%;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 36px !important;
                    line-height: 44px !important;
                    text-transform: uppercase;
                    color: #252525;
                    margin-bottom: 23px !important;
                }
            }
            .form{
                position: relative;
                top: 70px;
                max-width: 100%;
                align-self: flex-end;
                width: 280px !important;
                form{
                    max-width: 100%;
                    :nth-child(1), :nth-child(2){
                        max-width: 100%;
                        width: 280px !important;
                        height: 30px !important;
                        border-bottom: 1px solid #777777;
                        font-family: Open Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px !important;
                        line-height: 19px !important;
                        text-transform: capitalize;
                        color: rgba(37, 37, 37, 0.41);
                    }
                    :last-child{
                        
                        max-width: 100%;
                        margin-top: 50px !important;
                        border: 1px solid #000;
                        width: 231px;
                        height: 64px;
                        color: black;
                        background: white;
                        font-family: Open Sans;
                        font-size: 24px;
                        line-height: 29px;
                        transition: 300ms;
                        &:hover{
                            color: white;
                            background: black;
                        }
                    }
                }
                
            }
        }
    }
    @media(max-width:730px) {
        .bron{
            top: -422px !important;
        }
        .bron{
            position: relative;
            
            
            
            display: flex;
            width: 1197px;
            max-width: 100%;
            justify-content: flex-start !important;
            flex-direction: column !important;
            .text{
                max-width: 100%;
                margin-right: 20px;
                width: 100% !important;
                p{
                    max-width: 100%;
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 24px !important;
                    line-height: 33px !important;
                    text-transform: lowercase;
                    color: #252525;
                }
                .about{
                    p{
                        font-size: 11px !important;
                        line-height: 15px !important;
                    }
                }
                h2{
                    max-width: 100%;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 36px !important;
                    line-height: 44px !important;
                    text-transform: uppercase;
                    color: #252525;
                    margin-bottom: 23px !important;
                }
            }
            .form{
                position: relative;
                top: 0px;
                max-width: 100%;
                align-self: flex-start;
                width: 580px !important;
                form{
                    max-width: 100%;
                    :nth-child(1), :nth-child(2){
                        max-width: 100%;
                        width: 580px !important;
                        height: 60px !important;
                        border-bottom: 1px solid #777777;
                        font-family: Open Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 24px !important;
                        line-height: 33px !important;
                        text-transform: capitalize;
                        color: rgba(37, 37, 37, 0.41);
                    }
                    :last-child{
                        
                        max-width: 100%;
                        margin-top: 50px !important;
                        border: 1px solid #000;
                        width: 231px;
                        height: 64px;
                        color: black;
                        background: white;
                        font-family: Open Sans;
                        font-size: 24px;
                        line-height: 29px;
                        transition: 300ms;
                        &:hover{
                            color: white;
                            background: black;
                        }
                    }
                }
                
            }
        }
    }
    
    .contacts{
        margin-top: 239px;
        
        width: 1197px;
        max-width: 100%;
        .zagol{
            p{
                max-width: 100%;
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 33px;
                text-transform: lowercase;
                color: #252525;
            }
            h2{
                max-width: 100%;
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 48px;
                line-height: 59px;
                text-transform: uppercase;
                color: #252525;
                margin-bottom: 66px;
            }
        }
        .content{
            display: flex;
            max-width: 100%;
            justify-content: space-between;
            .text{
                order: 1;
                max-width: 100%;
                margin-right: 20px;
    
                width: 433px;
                p{
                    max-width: 100%;
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 24px;
                    line-height: 33px;
                    text-transform: lowercase;
                    color: #252525;
                }
                h2{
                    max-width: 100%;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 48px;
                    line-height: 59px;
                    text-transform: uppercase;
                    color: #252525;
                    margin-bottom: 66px;
                }
            }
        }
        
        .form{
            position: relative;
            margin-right: 20px;
            max-width: 100%;
            align-self: flex-end;
            width: 433px;
            form{
                max-width: 100%;
                :nth-child(1), :nth-child(2){
                    max-width: 100%;
                    width: 433px;
                    height: 60px;
                    border-bottom: 1px solid #777777;
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 24px;
                    line-height: 33px;
                    text-transform: capitalize;
                    color: rgba(37, 37, 37, 0.41);
                }
                :last-child{
                    
                    max-width: 100%;
                    margin-top: 75px;
                    border: 1px solid #000;
                    width: 231px;
                    height: 64px;
                    color: black;
                    background: white;
                    font-family: Open Sans;
                    font-size: 24px;
                    line-height: 29px;
                    transition: 300ms;
                    &:hover{
                        color: white;
                        background: black;
                    }
                }
            }
            
        }
    }
    @media(max-width:1200px){
        .contacts{
            margin-top: -200px;
        }
    }
    @media(max-width:950px){
        .contacts{
            margin-top: -170px !important;
            
            width: 1197px;
            max-width: 100%;
            .zagol{
                p{
                    max-width: 100%;
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 24px;
                    line-height: 33px;
                    text-transform: lowercase;
                    color: #252525;
                }
                h2{
                    max-width: 100%;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 36px !important;
                    line-height: 44px !important;
                    text-transform: uppercase;
                    color: #252525;
                    margin-bottom: 36px;
                }
            }
            .content{
                display: flex;
                max-width: 100%;
                justify-content: space-between;
                .text{
                    order: 1;
                    max-width: 100%;
                    margin-right: 20px;
        
                    width: 433px;
                    p{
                        max-width: 100%;
                        font-family: Open Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px !important;
                        line-height: 19px !important;
                        text-transform: lowercase;
                        color: #252525;
                    }
                    h2{
                        max-width: 100%;
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 48px;
                        line-height: 59px;
                        text-transform: uppercase;
                        color: #252525;
                        margin-bottom: 66px;
                    }
                }
            }
            
            .form{
                margin-right: 20px;
                position: relative;
                top: -10px;
                max-width: 100%;
                align-self: flex-end;
                width: 433px;
                form{
                    max-width: 100%;
                    :nth-child(1), :nth-child(2){
                        max-width: 100%;
                        width: 358px;
                        height: 30px;
                        border-bottom: 1px solid #777777;
                        font-family: Open Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px !important;
                        line-height: 19px !important;
                        text-transform: capitalize;
                        color: rgba(37, 37, 37, 0.41);
                    }
                    :last-child{
                        
                        max-width: 100%;
                        margin-top: 50px;
                        border: 1px solid #000;
                        width: 221px;
                        height: 59px;
                        color: black;
                        background: white;
                        font-family: Open Sans;
                        font-size: 18px !important;
                        line-height: 22px !important;
                        transition: 300ms;
                        &:hover{
                            color: white;
                            background: black;
                        }
                    }
                }
                
            }
        }
    }
    #two, #one{
        display: none;
    }
    @media(max-width:650px){
        .contacts{
            display: none;
        }
        #two{
            margin-top: 200px !important;
            margin-bottom: 0px !important;
            display: block;
        }
        #one{
            margin-top: 200px !important;
            margin-bottom: 0px !important;
            display: block;
        }
    }
    .zagol{
        &::before{
            content: "";
            width: 60px;
            height: 0px;
            border-top: 1px solid rgba(26, 26, 26, 0.54);
            display: inline-block;
            position: relative;
            top: 65px;
            left: -90px;
            @media(max-width:1100px){
                display: none;
            }
        }
    }
}
.footer{
    margin-top: 111px;
    background: #FBFBFB;
    max-width: 100%;
    width: 1920px;
    height: 186px;
    min-height: 186px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .wrapper{
        // *{
        //     border: 1px solid #000;
        // }
        // border: 1px solid #000;
        max-width: 90%;
        width: 1197px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .zagol{
            
            display: flex;
            h2{
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 36px;
                line-height: 44px;
                color: #252525;
                
            }
        }
        @media(max-width:630px){
            flex-direction: column;
            .zagol{
                width: 100%;
            }
        }
        .content{
            @media(max-width:830px){
                flex-direction: column;
                
                .first, .second{
                    margin: 5px 0;
                }
                a{
                    margin: 20px 34px !important;
                }
                .second{
                    a{
                        margin: 0 20px !important;
                    }
                    :first-child{
                        margin-left: 34px !important;
                    }
                }
            }
            @media(max-width:630px){
                width: 70%;
                align-self: flex-start;
                a{
                    margin: 0px 5px !important;
                }
                .second{
                    a{
                        margin: 0 5px !important;
                    }
                    :first-child{
                        margin-left: 7px !important;
                    }
                }
                .first, .second{
                    display: flex;
                    justify-content: space-between;
                }
                .second{
                    width: 57%;
                }
            }
            display: flex;
            
            *{
                white-space: nowrap;
            }
            
            a{
                
                color: #000000;
                margin: 20px 24px;
            }
            
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 27px;
            color: #000000;
        }
    }
    
}




